CREATE TABLE Users (
    Id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    Username NVARCHAR(50) NOT NULL,
    Email NVARCHAR(200) NOT NULL,
    PasswordHash NVARCHAR(1000) NOT NULL,
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Address NVARCHAR(255) NOT NULL,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE()
);

CREATE TABLE PackageStatuses (
    Id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    Name NVARCHAR(100) NOT NULL
);

CREATE TABLE CarrierServices (
    Id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    Name NVARCHAR(100) NOT NULL,
    Description NVARCHAR(255),
    Price DECIMAL(10, 2) NOT NULL
);

CREATE TABLE Carriers (
    Id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    Name NVARCHAR(255) NOT NULL,
    Email NVARCHAR(100) NOT NULL,
    PhoneNumber NVARCHAR(20) NOT NULL,
    IsActive BIT NOT NULL DEFAULT 1
);

CREATE TABLE CarrierSupportedServices (
    CarrierId UNIQUEIDENTIFIER NOT NULL,
    ServiceId UNIQUEIDENTIFIER NOT NULL,
    PRIMARY KEY (CarrierId, ServiceId),
    FOREIGN KEY (CarrierId) REFERENCES Carriers(Id),
    FOREIGN KEY (ServiceId) REFERENCES CarrierServices(Id)
);

CREATE TABLE Packages (
    Id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    TrackingNumber NVARCHAR(50) NOT NULL UNIQUE,
    StatusId UNIQUEIDENTIFIER NOT NULL,
    Weight DECIMAL(10, 2),
    Length DECIMAL(10, 2),
    Width DECIMAL(10, 2),
    Height DECIMAL(10, 2),
    RecipientAddress NVARCHAR(255) NOT NULL,
    SenderAddress NVARCHAR(255) NOT NULL,
    CarrierId UNIQUEIDENTIFIER NOT NULL,
    UserId UNIQUEIDENTIFIER NOT NULL,
    ServiceType UNIQUEIDENTIFIER NOT NULL,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE(),
    UpdatedAt DATETIME,
    FOREIGN KEY (ServiceType) REFERENCES CarrierServices(Id),
    FOREIGN KEY (CarrierId) REFERENCES Carriers(Id),
    FOREIGN KEY (UserId) REFERENCES Users(Id),
    FOREIGN KEY (StatusId) REFERENCES PackageStatuses(Id)
);

CREATE TABLE PackageStatusHistory (
    Id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    PackageId UNIQUEIDENTIFIER NOT NULL,
    StatusId UNIQUEIDENTIFIER NOT NULL,
    Timestamp DATETIME NOT NULL DEFAULT GETDATE(),
    Notes NVARCHAR(1000),
    FOREIGN KEY (PackageId) REFERENCES Packages(Id),
    FOREIGN KEY (StatusId) REFERENCES PackageStatuses(Id)
);
